@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;500;700&display=swap'); 

* {
    margin: none;
    padding: none;
    box-sizing: border-box;
}

body{
    background: #121214;
    padding: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    margin: none;
}

.content{
    height: 40rem;
    background: #2e2d31;
    border-radius: .8rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbers{
    height: 20rem;
    width: 16rem;
    background: #191b22;
    border-radius: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.on{
    font-family: 'JetBrains Mono', monospace;
    font-size: 3rem;
    color: #ffffff;
}

.time{
    display: flex;
}

.paused{
    font-family: 'JetBrains Mono', monospace;
    font-size: 3rem;
    color: #f8a750;
    opacity: 1;
    animation: fadeIn 3s linear infinite;
}

.buttons{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button, a{
    height: 4rem;
    width: 14rem;
    margin-bottom: 1rem;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    border-radius: .4rem;
    color: white;
    outline: none;
}

.play{
    background: #1ecf68;
    transition: 300ms;
}

.play:hover{
    background: #06b64f;
}

.pause{
    background: #f8a750;
    transition: 300ms;
}

.pause:hover{
    background: #fa8b15;
}

.reset{
    background: #8257e5;
    transition: 300ms;
}

.reset:hover{
    background: #6e3edf;
}

.timer-stopwatch{
    background: #bd93f9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 300ms;
}

.timer-stopwatch:hover{
    background: #9754f5;
}

.add-timer{
    background: #6272a4;
    transition: 300ms;

}

.add-timer:hover{
    background: #475479;
}

.form{
    position: absolute;
}

.container{
    background: #465069;
    height: 30rem;
    width: 40rem;
    border-radius: .8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.name-form{
    height: 5rem;
    width: 40rem;
    background: #44475a;
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    border-radius: .8rem .8rem 0 0;
    padding: 1rem;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 28px;

}

.label{
    margin: .4rem;
}

label{
    color: white;
    font-weight: 400;
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 20px;
}

input{
    height: 2rem;
    width: 20rem;
    padding: .6rem;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    border: none;
    border-radius: .6rem;
    outline: none;
}

input:focus{
    border: 2px solid #1ecf68;
}

.save-form{
    background: #1ecf68;
    transition: 300ms;
    margin-top: 10px;
}

.save-form:hover{
    background: #06b64f;
}

@media(min-width:600px){
    body{
        padding: 2rem;
    }

    .content{
        height: 58rem;
        width: 40rem;
    }

    .numbers{
        height: 30rem;
        width: 38rem;
    }

    .numbers p{
        font-size: 6rem;
    }

    button, a{
        height: 6rem;
        width: 38rem;
    }

}

/* pc version */
@media(min-width:800px){

    .content{
        height: 50rem;
        width: 60rem;
        padding: 8rem;
        flex-direction: column;
    }

    .numbers{
        width: 50rem;
        height: 20rem;
    }

    .numbers p{
        font-size: 8rem;
    }

    .buttons{
        flex-direction: row;
    }

    button, a{
        height: 4rem;
        width: 12rem;
    }

    .play{
        margin-right: 1rem;
    }

    .pause{
        margin-right: 1rem;
    }

    .reset{
        margin-right: 1rem;
    }

    .add-timer{
        width: 38rem;
    }
}

/* animations */    
@keyframes fadeIn {

0% {opacity:0.4;}
50% {opacity:1;}
100% {opacity: 0.4;}

}

