<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" /> -->
  <link rel="stylesheet" href="../styles/style.css">
  <title>Timer</title>
</head>

<body>

  <div class="content">
    <div class="numbers">
      <div class="time">
        <p class="time-number on">00:00:00</p>
      </div>
    </div>
    <div class="buttons">
      <button class="play">Play</button>
      <button class="reset">Reset</button>
      <a href="Countdown.html" class="timer-stopwatch">Countdown</a>
    </div>
  </div>

  <script src="../scripts/timer.js"></script>
  <script src="../scripts/app/verifyOnlineStatus.js"></script>
</body>

</html>
