.form {
  display: none;
  position: absolute;
  top: 8rem;
  animation: drop 500ms linear;

  .container {
    background: #3a404e;
    height: 30rem;
    width: 20rem;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    .name-form {
      height: 5rem;
      width: 20rem;
      background: #353846;
      display: flex;
      align-items: center;
      position: relative;
      top: 0;
      border-radius: 0.8rem 0.8rem 0 0;
      padding: 1rem;

      p {
        margin-left: 0.6rem;
        color: #ffffff;
        font-weight: 700;
        font-size: 1.5rem;
      }
    }

    .label {
      display: flex;
      flex-direction: column;

      label {
        color: white;
        font-weight: 400;
        font-size: 16px;
        width: 100%;
        margin: 1rem 0 0.4rem 0;

        &:first-child {
          margin-top: 1.8rem;
        }
      }

      input {
        height: 3rem;
        width: 16rem;
        padding: 0.6rem;
        color: black;
        font-size: 16px;
        border-radius: 0.6rem;

        &:focus {
          border: 2px solid #1ecf68;
        }

        &:last-child {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
