.form {
  display: none;
  position: absolute;
  top: 8rem;
  animation: drop 300ms linear;

  .container {
    height: 30rem;
    width: 20rem;
    border-radius: 0.8rem;
    background: $bg-form;
    display: flex;
    align-items: center;
    flex-direction: column;

    .name-form {
      height: 5rem;
      width: 100%;
      background: $bg-header;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      top: 0;
      border-radius: 0.8rem 0.8rem 0 0;
      padding: 1rem;

      p {
        margin-left: 0.6rem;
        color: #ffffff;
        font-weight: 700;
        font-size: 1.5rem;
      }
    }

    .label {
      display: flex;
      flex-direction: column;

      label {
        color: white;
        font-weight: 400;
        font-size: 1rem;
        width: 100%;
        margin: 1rem 0 0.4rem 0;

        &:first-child {
          margin-top: 1.8rem;
        }
      }

      input {
        height: 3rem;
        width: 16rem;
        padding: 0.6rem;
        color: black;
        font-size: 16px;
        border-radius: 0.6rem;

        &:focus {
          border: 2px solid #1ecf68;
        }

        &:last-child {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .form {
    top: 10rem;

    .container {
      height: 34rem;
      width: 34rem;
      .name-form {
        height: 6rem;

        p {
          font-size: 1.8rem;
        }
      }
      .label {
        label {
          font-size: 1.2rem;
        }

        input {
          height: 3rem;
          width: 28rem;
        }
      }
    }
  }
}
