// background
$bg-primary: #121214;
$bg-secondary: #2e2d31;
$bg-display: #191b22;
$bg-header: #3a404e;
$bg-form: #2e2d31;

// fonts
$font: #fff;
$font-paused: #f8a750;

// buttons
$btn-toogle: #bd93f9;
$btn-toogle-hover: #9754f5;
$btn-form: #6272a4;
$btn-form-hover: #475479;
$btn-confirm: #1ecf68;
$btn-confirm-hover: #06b64f;
$btn-reset: #8257e5;
$btn-reset-hover: #6e3edf;
$btn-cancel: #ff5555;
// $btn-cancel-hover: ;
$btn-paused: #f8a750;
$btn-paused-hover: #fa8b15;
