@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;500;700&display=swap'); 

* {
    margin: none;
    padding: none;
    box-sizing: border-box;
}

body{
    background: #121214;
    padding: .4rem .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    margin: none;
}

.content{
    height: 46rem;
    background: #2e2d31;
    border-radius: .8rem;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-name{
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    position: absolute;
    top: 0;
    margin-top: 1rem;
    left: 0;
    margin-left: 4.4rem;
}

.numbers{
    height: 20rem;
    width: 16rem;
    background: #191b22;
    border-radius: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.on{
    font-family: 'JetBrains Mono', monospace;
    font-size: 3rem;
    color: #ffffff;
}

.time{
    display: flex;
}

.paused{
    font-family: 'JetBrains Mono', monospace;
    font-size: 3rem;
    color: #f8a750;
    opacity: 1;
    animation: repeat-fadein 3s linear infinite;
}

.buttons{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button, a{
    height: 4rem;
    width: 14rem;
    margin-bottom: 1rem;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    border-radius: .4rem;
    color: white;
    outline: none;
}

.play{
    background: #1ecf68;
    transition: 300ms;
}

.play:hover{
    background: #06b64f;
}

.pause{
    background: #f8a750;
    transition: 300ms;
}

.pause:hover{
    background: #fa8b15;
}

.reset{
    background: #8257e5;
    transition: 300ms;
}

.reset:hover{
    background: #6e3edf;
}

.timer-stopwatch{
    background: #bd93f9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 300ms;
}

.timer-stopwatch:hover{
    background: #9754f5;
}

.add-timer{
    background: #6272a4;
    transition: 300ms;

}

.add-timer:hover{
    background: #475479;
}

.form{
    display: none;
    position: absolute;
    top: 100px;
    animation: drop 500ms linear;
}

.container{
    background: #3a404e;
    height: 30rem;
    width: 20rem;
    border-radius: .8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.name-form{
    height: 5rem;
    width: 20rem;
    background: #353846;
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    border-radius: .8rem .8rem 0 0;
    padding: 1rem;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.cancel-button{
    position: absolute;
    right: 0;
    margin-right: 2rem;
    cursor: pointer;
}

.cancel-button path{
    fill: #ff5555;
}

.label{
    margin: .4rem;
}

label{
    color: white;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 20px;
}

input{
    height: 2.5rem;
    width: 15rem;
    padding: .6rem;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    border: none;
    border-radius: .6rem;
    outline: none;
}

input:focus{
    border: 2px solid #1ecf68;
}

.save-form{
    background: #1ecf68;
    transition: 300ms;
    margin-top: 10px;
    width: 15rem;
}

.save-form:hover{
    background: #06b64f;
}

@media(min-width:400px){
    body{
        padding: 4rem;
    }

    .content{
        height: 50rem;
        width: 40rem;
    }

    .timer-name{
        font-size: 45px;
        margin-left: 5rem;
    }

    .numbers{
        height: 20rem;
        width: 20rem;
        margin-top: 30px;
    }

    .numbers p{
        font-size: 4rem;
    }

    button, a{
        height: 4rem;
        width: 22rem;
    }

    .form{
        top: 160px;
    }

    .container{
        height: 30rem;
        width: 24rem;
    }

    .name-form{
        height: 5rem;
        width: 24rem;
        font-size: 28px;
    }

    .save-form{
        width: 18rem;
    }


    label{
        font-size: 18px;
    }

    input{
        height: 2.5rem;
        width: 18rem;
    }
}

/* pc version */
@media(min-width:780px){

    body{
        padding: 1.8rem;
    }

    .content{
        height: 40rem;
        width: 60rem;
        padding: 6rem 2rem 2rem;
        margin-top: 50px;
        flex-direction: column;
    }

    .timer-name{
        font-size: 50px;
        margin-top: .6rem;
        margin-left: 8rem;
    }

    .numbers{
        width: 50rem;
        height: 20rem;
        margin: 0;
    }

    .numbers p{
        font-size: 8rem;
    }

    .buttons{
        flex-direction: row;
    }

    button, a{
        height: 4rem;
        width: 12rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }

    .add-timer{
        width: 38rem;
    }

    .form{
        top: 140px;
    }

    .container{
        height: 35rem;
        width: 40rem;
    }

    .name-form{
        height: 5rem;
        width: 40rem;
        font-size: 28px;
    }

    label{
        font-size: 22px;
    }

    input{
        height: 3rem;
        width: 25rem;
    }

    .save-form{
        width: 25rem;
        margin: 1rem;
    }

}

/* animations */    
@keyframes repeat-fadein {

    0% {opacity:0.4;}
    50% {opacity:1;}
    100% {opacity: 0.4;}

}

@keyframes drop {

    from {
        top: -100%;
    }
    to {
        top: 160px;
    }

}
